@using MVC.Controllers


<form method="get" class="mb-4">
    <div class="form-group">
        <label for="searchTerm">Căutare dupa Nume și/sau Prenume:</label>
        <input type="text" name="searchTerm" class="form-control" placeholder="Introduce nume..." />
    </div>
    <button type="submit" class="btn btn-primary">Căutare</button>
</form>