@using MVC.Controllers
@model MVC.Entities.Taxe

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Taxe";
}

<div class="container mt-5">
    <h2>Edit Taxe</h2>
    <form asp-action="@nameof(TaxeController.Index)" method="post" class="needs-validation" novalidate>
        <!-- CAS -->
        <div class="mb-3">
            <label asp-for="CAS" class="form-label">CAS (%)</label>
            <input asp-for="CAS" class="form-control" type="number" step="1" min="0" max="100" required value="@Model.CAS.Value"/>
            <span asp-validation-for="CAS" class="text-danger"></span>
        </div>

        <!-- CASS -->
        <div class="mb-3">
            <label asp-for="CASS" class="form-label">CASS (%)</label>
            <input asp-for="CASS" class="form-control" type="number" step="1" min="0" max="100" required value="@Model.CASS.Value" />
            <span asp-validation-for="CASS" class="text-danger"></span>
        </div>

        <!-- Impozit -->
        <div class="mb-3">
            <label asp-for="Impozit" class="form-label">Impozit (%)</label>
            <input asp-for="Impozit" class="form-control" type="number" step="1" min="0" max="100" required value="@Model.Impozit.Value"/>
            <span asp-validation-for="Impozit" class="text-danger"></span>
        </div>

        <!-- Buttons -->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
